/* START RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.concact_title {
    color: #FF6835;
    font-size: 38px;
    font-family: 'Figtree';
    font-weight: 600;
    line-height: 50px;
    word-wrap: break-word;
    text-align: center;
}

.contact_subitle {
    color: #4A4551;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    text-align: center;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a {
    color: inherit; 
    /* blue colors for links too */
    text-decoration: inherit;
}
 a:hover {
    color: inherit;
    /* Inherits color property from its parent */
} 

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END RESET CSS */

#side_menu{
    left: -100%;
    padding: 36px 21px;;
    height: 100vh;
    width: 90%;
    background-color: #0F0E10;
    position: fixed;
    z-index: 9999;
    /* display: none; */
    display: block;
}
.mobile_menu__close{
    text-align: end;
    margin-bottom: 42px;
}
.menu_item__wrapper a{
    font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
color: #fff;
text-decoration: none;
margin-bottom: 6px;
    /* margin-top: 42px; */
    display: flex;
    justify-content: space-between;align-items: center;
    padding: 6px 12px;
    background-color: #1E1C20;
}

.menu_item__wrapper{
    
}

#navbar{
    padding: 24px 156px
}
.navbar{
    gap: 60px;
    padding-left: 140px;
}
#footer{
    background: rgba(237, 236, 238, 0.60);
}
.email_input{
    background: inherit
}
.menu_item{
    gap: 14px;
    position: relative;
}
.certificates_bg__image__mobile{
    display: none !important;
}
.video{
    /* height: 540px; */
    width: 100%;
    /* position: relative */

}

#hero{
    position: relative;
}
.footer_logo__mobile{
    display: none;
}
.certificate_mobile{
    display: none !important;
}
.social_meadia__wrapper___mobile{
    display: none !important;
}
.submenu{

    display: none;
    position: absolute;
    top: 100%;
    padding: 12px 24px;
    border-radius: 4px;
        border: 1px solid #EDECEE;
        background: #FFF;
        white-space: nowrap;
        left: -70%;
        z-index: 999
}
.menu_item:hover > .submenu{
    display: block;
}
.submenu ul li{
    font-family: 'Figtree';
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    cursor: pointer;
    margin-top: 4px;
}
.menu_item__text {
    font-size: 18px;
    font-family: 'Figtree';
    font-weight: 600;
    line-height: 26px;
    cursor: pointer;
}
.rfq_button{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #1E1C20;
    font-family: 'Figtree';
    border-radius: 2px;
    border: 1px solid #1E1C20;
    background-color: inherit;
}

.hero_content{
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
.hero_title{
    text-align: center;
        color: white;
            font-size: 32px;
            font-family: 'Figtree';
            font-weight: 700;
            line-height: 32px;
        margin-top: 29px;
}
.hero_btn{
    padding: 20px 40px;
    font-family: Figtree;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        color: #FFF;
        border-radius: 2px;
        background-color: #000;
        margin-top: 21px;
        transition: all 1.5s ease;
        border: none;
}
.hero_btn:hover{
    background-color: #E71420;
}
#partners{
    margin-top: 35px;
}
.partners_img{
    filter: grayscale(100%);
    transition: all 1s ease;
}
.partners_img:hover {
    filter: grayscale(0);
}
#about{
    padding: 80px 156px
}
.about_title p{
    color: #FF6835;
        font-size: 38px;
        font-family: 'Figtree';
        font-weight: 500;
        line-height: 50px;
        margin-bottom: 20px;
}
.about_description p{
    color: #3B3741;
        font-size: 16px;
        font-family: 'Roboto';
        font-weight: 400;
        line-height: 24px;
}
.video_about{
    width: 377px;
    border-radius: 9999px;
    /* height: 377px; */
}
#services{
    padding: 80px 156px;
}
/* .video__mobile{
    display: none;
} */
.services_title{
    color: #FF6835;
        font-size: 38px;
        font-family: 'Figtree';
        font-weight: 500;
        line-height: 32px;
}
.services_subtitle{
color: #444444;
    font-size: 24px;
    font-family: 'Figtree';
    font-weight: 600;
    text-transform: uppercase;
    line-height: 50px;
    margin-top: 20px;
}
.service_wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
}
.service_name{
    text-align: center;
    color: #0F0E10;
        font-size: 24px;
        font-family: 'Figtree';
        font-weight: 600;
        line-height: 30px;
}
.service_description{
    color: #1E1C20;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 24px;
}

.service_btn{
    color: white;
        font-size: 14px;
        font-family: Figtree;
        font-weight: 500;
        line-height: 24px;
        border-radius: 2px;
        border: none;
        background-color: #000;
        padding: 10px;
        transition: all 1s ease;
}
.service_btn:hover{
    background-color: #FF6835;
}

#business{
    padding: 80px 156px;
}

.business_title{
    color: #FF6835;
        font-size: 38px;
        font-family: Figtree;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 50px;
}
.business_wrapper{
    margin-top: 40px;
    display: flex;
}
.business_number{
    color: #FFC3AE;
        font-size: 38px;
        font-family: 'Figtree';
        font-weight: 500;
        line-height: 26px;

}
.business_item__title{
    color: #1E1C20;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: 500;
        line-height: 32px;
}
.business_item__description{
    color: #4A4551;
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 400;
        line-height: 20px;
}
.business_item__wrapper{
            margin-left: 14px;
}
#business .row > :nth-last-child(-n+2) {
    margin-left: auto;
    margin-right: auto;
}
#values{
    padding: 100px 156px;
}
.values_section__title{
    color: #2C2931;
font-size: 38px;
font-family: 'Figtree';
font-weight: 600;
text-transform: uppercase;
line-height: 50px;
}
.value_wrapper{
   display: flex;
   align-items: center;
   gap: 12px;
   margin-top: 40px;
   border: 1px #C9C7CB solid;
   border-radius: 4px;
   padding: 12px;
}
.value_item__title{
    color: #2C2931;
font-size: 20px;
font-family: 'Figtree';
font-weight: 600;
line-height: 32px;
}

.value_item__description{
    color: #6E6A74;
font-size: 16px;
font-family: 'Roboto';
font-weight: 400;
line-height: 24px;
}
.suppliers_section__title{
    padding: 80px 156px;
    padding-bottom: 40px;
}
.suppliers_section__title{
    color: #FF6835;
font-size: 38px;
font-family: 'Figtree';
font-weight: 600;
text-transform: uppercase;
line-height: 50px;
}
.swiper{
    margin-top: 35px;
}
.certificates_bg__image{
    width:100%
}
/* .certificates_bg{
    position: relative;
} */
.certificates_header__title{
    color: white;
font-size: 48px;
font-family: 'Figtree';
font-weight: 700;
line-height: 62px;
}
.certificates_header__subtitle{
    color: white;
font-size: 24px;
font-family: 'Roboto';
font-weight: 500;
line-height: 44px;
margin-top: 12px;
}
#certificates{
    margin-top: 80px;
    position: relative;
}
.certificates_header_wrapper{
    position: absolute;
    top:0%;
    left: 50%;
    margin-top: 40px;
    /* transform: translate(-50%, -50%); */
}
.certificate_btn{
    padding: 20px 40px;
    background-color: #E71420;
    color: white;
font-size: 20px;
font-family: Figtree;
font-weight: 500;
line-height: 32px;
border: none;
border-radius: 2px;
margin-top: 24px;
}
.certificate_wrapper{
    position: absolute;
    bottom: 0%;
    padding: 40px 156px;
    /* background-color: #000; */
    /* border-radius: 24px; */
}
.certificate_img__wrapper{
    display: flex;
    gap: 24px;
}
.certificate_wrapper__title{
    color: white;
font-size: 38px;
font-family: 'Figtree';
font-weight: 600;
line-height: 50px;
}
#footer{
    padding:55px 140px
}
.social_meadia__wrapper{
    margin-top: 55px;
    display: flex;
    gap: 14px;
}
.social_media__icons{
    display: flex;
    gap: 14px;
}
.footer_logo{
    margin-bottom:54px
}
.email_input::placeholder{
    color: #2C2931;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto';
    padding-bottom: 14px;
}
.email_input:focus{
outline: none;
}
.email_input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #6E6A74;
    margin-top: 28px;
    padding-bottom: 14px;
    position: relative
}
.email_input__wrapper{
    position: relative;
}
.email_icon{
    position: absolute;
    bottom: 14px;
    right: 0px;
}

.copyrights{
    margin-top: 54px;
}

.footer_header{
    color: #2C2931;
font-size: 16px;
font-family: 'Figtree';
font-weight: 500;
line-height: 24px;
}
.quick_links p,
.services_links p,
.contact_links p {
    color: #3B3741;
font-size: 14px;
font-family: 'Roboto';
font-weight: 400;
line-height: 20px;
    
}
.quick_links,
.services_links,
.contact_links {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 18px;
}
.copyrights{
    color: #4A4551;
font-size: 14px;
font-family: 'Roboto';
font-weight: 400;
line-height: 20px;
margin-bottom: 16px;
}
.mobile_menu{
    display: none !important;
}
.navbar{
    display:block
}
.hero_logo__mobile{
    display: none;
}
.navbar_mobile__logo{
    display: none;
}
/* .mobile_menu{
    display: none !important;
} */


/* CONTACT PAGE */
.contactpage_title{
    color: #FF6835;
        font-size: 38px;
        font-family: 'Figtree';
        font-weight: 600;
        line-height: 50px;
        word-wrap: break-word;
        text-align: center;
}
.contactpage_subtitle{
    color: #4A4551;
        font-size: 18px;
        font-family: 'Roboto';
        font-weight: 400;
        line-height: 26px;
        word-wrap: break-word;
        text-align: center;
        margin-top: 14px;
}
.contact_form__img{
    width: 100%;
}
.contact_form__title{
    color: #1E1C20;
        font-size: 28px;
        font-family: 'Figtree';
        font-weight: 500;
        line-height: 44px;
        word-wrap: break-word
}
.contact_form__wrapper{
    margin-top: 56px;
}
.contact_form__subtitle{
    color: #2C2931;
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 400;
        line-height: 20px;
        word-wrap: break-word
}
.contact_input{
    color: #6E6A74;
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 400;
        line-height: 20px;
        word-wrap: break-word;
        width: 100%;
        border: 1px #EDECEE solid;
        border-radius: 4px;
        padding: 12px;
        height: 44px;
}
.contact_input:focus{
    outline: none;
}
.contact_form__label{
    color: #6E6A74;
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 500;
        line-height: 20px;
        word-wrap: break-word;
        margin-bottom: 12px;
        margin-top: 24px;
}
.form{
    margin-top:38px
}
.subject{
    color: #2C2931;
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 700;
        line-height: 20px;
        word-wrap: break-word;
        margin-top: 24px;
        margin-bottom: 24px;
}
.subject_label{
    color: #161518;
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 400;
        line-height: 20px;
        word-wrap: break-word;
        margin-left: 4px;

}

    .custom_checkbox {
        border-radius: 50%;
        appearance: none;
        /* For modern browsers */
        -webkit-appearance: none;
        /* For older versions of WebKit-based browsers */
        -moz-appearance: none;
        /* For older versions of Firefox */
        width: 20px;
        /* Adjust the size of the checkbox */
        height: 20px;
        /* Adjust the size of the checkbox */
        /* border: 2px solid #000; */
        background-color: #DBDADC;
        /* Border color of the checkbox */
        background-color: #fff;
        /* Background color of the checkbox */
    }

    /* Change the background color of the checkbox when checked */
    .custom_checkbox:checked {
        background-color: #161518;
        /* Change the background color */
    }

    /* Style the checkmark inside the checkbox */
    .custom_checkbox:checked::before {
        content: '\2713';
        /* Unicode character for a checkmark */
        display: block;
        text-align: center;
        line-height: 20px;
        /* Adjust the line height to center the checkmark vertically */
        color: #fff;
        /* Color of the checkmark */
    }
        .custom_checkbox:not(:checked) {
            background-color: #DBDADC;
            /* Change the background color */
        }
                .custom_checkbox:not(:checked)::before {
                    content: '\2713';
                        /* Unicode character for a checkmark */
                        display: block;
                        text-align: center;
                        line-height: 20px;
                        /* Adjust the line height to center the checkmark vertically */
                        color: #fff;
                    /* Change the background color */
                }
    .checkbox_wrapper{
        display: flex;
        justify-content: space-between;
    }
    .send_btn{
        color: white;
            font-size: 14px;
            font-family: Figtree;
            font-weight: 500;
            line-height: 24px;
            word-wrap: break-word;
            background-color: #000;
            padding: 10px 84px;
            border-radius: 4px;
            border: none;
            margin-top: 24px;
    }
    .quick_support{
        color: #1E1C20;
            font-size: 28px;
            font-family: 'Figtree';
            font-weight: 500;
            line-height: 44px;
            word-wrap: break-word
    }
    .quick_support__subtitle{
        color: #2C2931;
            font-size: 14px;
            font-family: 'Roboto';
            font-weight: 400;
            line-height: 20px;
            word-wrap: break-word;
            margin-top: 10px;
    }
    #support{
        margin-top:80px;
        padding: 45px 0px;
        background-color: #F7F7F7;
        border-top: 1px #C9C7CB solid;
            border-bottom: 1px #C9C7CB solid
    }
    .support_item__title{
        color: #2C2931;
            font-size: 18px;
            font-family: 'Roboto';
            font-weight: 500;
            line-height: 26px;
            word-wrap: break-word;
            margin-top: 14px;
    }
    .support_item__subtitle{
        color: #3B3741;
            font-size: 14px;
            font-family: 'Roboto';
            font-weight: 400;
            line-height: 20px;
            word-wrap: break-word;
            margin-top: 12px;
    }
    .support_item__wrapper{
        margin-top: 48px;
    }
    .form_textarea{
        margin:12px; border-color: #6E6A74; border-radius: 4px;color: #6E6A74;
         font-size: 14px;
            font-family: Roboto;
            font-weight: 400;
            line-height: 20px;
            word-wrap: break-word"
    }
    .input_item{
        display: flex;
    }
        
/* END CONTACT PAGE */

/* CETRIFICATE PAGE */
.page_header{
    font-family: 'Figtree';
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
    color: #FF6835;
}
.page_description{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Roboto';
    padding: 0px 100px;
    color: #2C2931;
}
.certificate-bg-img{
    width: 100%;
    margin-top:80px
}
/*END CERTIFICATE PAGE */

@media screen and (max-width: 992px) {
    .page_description {
            font-family: 'Roboto';
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                color: #2C2931;
                padding: 0px;
        }
        .page_header{
            font-family: 'Figtree';
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
        }
        .certificate-bg-img{
            height: 200px;
            object-fit: cover;
        }
    .contactpage_title{
        color: #FF6835;
            font-size: 24px;
            font-family: 'Figtree';
            font-weight: 500;
            line-height: 50px;
            word-wrap: break-word
    }
    .contactpage_subtitle{
        color: #4A4551;
            font-size: 11px;
            font-family: 'Roboto';
            font-weight: 400;
            line-height: 18px;
    }
    .contact_form__title{
        color: #1E1C20;
            font-size: 18px;
            font-family: 'Figtree';
            font-weight: 500;
            line-height: 26px;
    }
    .subject_label{
        color: #6E6A74;
            font-size: 13px;
            font-family: 'Roboto';
            font-weight: 500;
            line-height: 16px;
                    margin-left: 4px;
                        margin-top: 3px;
    }
    .contact_input{
        color: #6E6A74;
            font-size: 12px;
            font-family: 'Roboto';
            font-weight: 400;
            line-height: 20px;
    }
    .subject{
        color: #2C2931;
            font-size: 14px;
            font-family: 'Roboto';
            font-weight: 500;
            line-height: 20px;
    }
    .quick_support{
        color: #1E1C20;
            font-size: 18px;
            font-family: 'Figtree';
            font-weight: 500;
            line-height: 26px;
    }
    .quick_support__subtitle{
        color: #2C2931;
            font-size: 11px;
            font-family: 'Roboto';
            font-weight: 400;
            line-height: 18px;
            word-wrap: break-word
    }
    .support_item__title{
        color: #2C2931;
            font-size: 14px;
            font-family: 'Roboto';
            font-weight: 500;
            line-height: 20px;
    }
    .support_item__subtitle{
        color: #3B3741;
            font-size: 11px;
            font-family: 'Roboto';
            font-weight: 400;
            line-height: 18px;
            word-wrap: break-word
    }
    .support_item__wrapper{
        margin-top:24px
    }
    #support{
        padding: 0px
    }
    .send_btn{
        margin-top:0px
    }
    .contact_form__subtitle{
        color: #2C2931;
            font-size: 11px;
            font-family: 'Roboto';
            font-weight: 400;
            line-height: 18px;
            word-wrap: break-word
    }
    .input_item {
            flex: 1 0 33%;
            margin-top:4px
            /* Each item takes up 50% of the container width */
        }
        .checkbox_wrapper{
            flex-wrap: wrap
            ;
        }
#support{
    background-color: inherit;
    border:none
}
    .form_textarea{
        width: 70%;
        height: 80px;
    }
    
    .form{
        margin-top:14px
    }
    .contact_form__box{
        display: none;
    }
    
    .about_wrapper{
        width: 100% !important;
    }
    .video_about{
        display: none !important;
    }
    .navbar{
        display: none !important;
    }
    .navbar_desktop__logo{
        display: none;
    }
    #navbar{
        padding: 8px 12px
    }
    .navbar_logo{
        display: none
    }
    .navbar_mobile__logo{
        display: block;
    }
    .mobile_menu{
        display: block !important;
    }
    .rfq_button{
        padding: 5px
    }
    .hero_logo__desktop{
        display: none;
    }
    .hero_logo__mobile{
        display: block;
    }
    .hero_content{
        position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    }
    .hero_title{
        text-align: center;
text-shadow: 2px 5px 14px rgba(161, 161, 161, 0.35);
font-family: 'Figtree';
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px;
margin-top: 20px;
    }
    .hero_btn{
        font-family: 'Figtree';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 26px;
padding: 5px 10px;
margin-top: 8px;
white-space: nowrap;
    }

    .video{
        position: relative;
        padding: 10px 0px
    }
    .partners_img{
        width: 92px !important;
        height: 37px !important;
    }
    .swiper{
        margin-top:36px;
    }
    #partners{
        margin-top: 0px;
    }
    #about{
        padding: 0px 12px
    }
    .about_title p{
        font-family: 'Figtree';
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px;
text-align: center;
margin-top: 36px;
    }
    .video_box{
        display: none !important;
    }
    #services{
        padding: 0px 12px;
    }
    .services_title{
        font-family: 'Roboto';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px;
color: #FFA486;
margin-top:80px
    }
    .services_subtitle{
        font-family: 'Figtree';
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px;
margin-top:12px
    }
    .service_img{
        /* width:336px;
        height:200px */
    }
    .service_name{
        font-family: 'Figtree';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px;
    }
    .service_description{
        font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
    }
    .service_btn{
        font-family: 'Figtree';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px;
    }
    #business{
        padding:0px 12px
    }
    .business_title{
        font-family: 'Figtree';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 32px;
color: #FFA486;
margin-top: 88px;
    }
    .business_number{
        font-family: 'Figtree';
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 26px;
    }
    .business_item__title{
        font-family: 'Roboto';
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px;
    }
    .business_item__description{
        font-family: 'Roboto';
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
    }
    #values{
        padding: 0px 12px
    }
    .values_section__title{
        font-family: 'Figtree';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 32px;
color: #FFA486;
margin-top: 80px;
    }
    .value_item__title{
        font-family: 'Figtree';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 32px;
    }
    .value_item__description{
        font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
    }
    .value_wrapper{
        border-radius: 8px;
    }
    #suppliers{
        display: none;
    }
    .certificate_wrapper{
        display: none;
    }
    .certificates_header__title{
        font-family: 'Figtree';
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
    }
    .certificates_header_wrapper{
        left:0%;
        margin-top: 70px;
    }
    .certificates_header__subtitle{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        padding: 0px 52px;
    }
    .certificate_btn{
        padding:5px 42px;
        margin-top: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
    }
    .certificate_wrapper__mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #footer{
        padding: 0px 12px;
    }
    .footer_item{
        text-align: center;
        margin-top: 24px;
    }
    .footer_logo__mobile{
        display: block !important;
        text-align:left
    }
    .footer_logo__desktop{
        display: none !important;
    }
    .certificate_mobile{
        display: block !important;
        margin-top: 40px;
    }
    .certificate_img{
        padding: 0px 8.5px;
        border-right: 1px solid #fff;
        width: 62px;
        height: 62px;
    }
    .certificate_img:last-child {
        border-right: none;
    }
    .certificates_bg__image{
        display: none !important;
    }
    .certificates_bg__image__mobile{
        display: block !important;
        width: 100%;
    }
    .social_meadia__wrapper___mobile{
        display: flex !important;
        margin-top: 25px;
        
    }.social_meadia__wrapper{
        display: none !important;
    }
    .social_media__icons{
        margin-left: 14px;
    }
    .copyrights{
        margin-top:24px
    }
    .footer_logo__mobile{
        margin-top: 48px;
    }
    .footer_logo{
        margin-bottom: 24px;
    }
    .email_input__wrapper___mobile{
        position: relative
    }
    #footer{
        margin-top:80px
    }
    .value_wrapper{
        margin-top:24px
    }
    .business_wrapper{
        margin-top:24px
    }
    .service_wrapper{
        margin-top:24px
    }
    /* .video{
        display: none!important;
    }
    .video__mobile{
        display: block!important;
    } */
    .partners_img {
        filter: grayscale(0);
    }
    
      
  }
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    .navbar{
        padding-left: 0px;
    }
    .supplier_img{
        height:100px
    }
    .video_box{
        display: none !important;
    }
    .about_wrapper{
        width: 100%;
    }
    .certificates_header_wrapper{
        margin-top: 150px;
    }
    .certificates_header_wrapper{
        margin-top: 0px;
    }
    .certificate_wrapper{
        position: absolute;
        bottom: 0%;
        padding: 0px 80px;
        /* background-color: #000; */
        /* border-radius: 24px; */
    }
    .certificate_btn{
        margin-top: -3px;
        padding: 8px 40px
    }
  }
  @media screen and (min-width: 577px) and (max-width: 993px) {
    .certificates_header_wrapper{
        margin-top: 150px;
    }
    
  }
  @media screen and (min-width: 700px) and (max-width: 993px) {
    .certificates_header_wrapper{
        margin-top: 200px;
    }}


